
*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    overscroll-behavior: none;
    box-sizing: border-box;
    overflow-y: auto;
}

body, button, h1, h2, h3, h4, h5, html, p {
    padding: 0;
    margin: 0;
    position: relative;
}

main {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.vv {
    height: 50vh;
    width: 100%;
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

button {
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.main-checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    border-radius: 0.25rem;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

input[type="checkbox" i] {
    accent-color: green !important;
}

select option {
    background-color: green;
}

/* skybox custom select */
/* Parent container for both dropdowns */
.dropdown-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Adjust the gap as needed */
    padding: 1rem;
}

/* Styles for the custom skybox dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 10rem;
    text-align: center;
}

.selected {
    color:rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    backdrop-filter: blur(10px);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.dropdown-option:last-child {
    border-bottom: none;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

/* Styles for the custom environment dropdown */
.custom-env-dropdown {
    position: relative;
    display: inline-block;
    width: 10rem;
    text-align: center;
}

.env-selected {
    color:rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    backdrop-filter: blur(10px);
}

.env-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.env-dropdown-menu.show {
    display: block;
}

.env-dropdown-option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.env-dropdown-option:last-child {
    border-bottom: none;
}

.env-dropdown-option:hover {
    background-color: #f1f1f1;
}
/* env custom select */

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    body {
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(0, 0, 0, 0.9);
    }

    .vv {
        color: rgba(0, 0, 0, 0.9);
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@media screen and (orientation: portrait) {
    main {
        width: 90vw;
    }
}